.thumbnail-1{
    width: 300px;
}
p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.video-title{
    font-weight: bold;
    font-size: 15px;
    width: 300px;
    line-height: 20px;
    margin-bottom: 20px;
}
.video-stats{
    color: #606060;
    font-size: 14px;
}
.video-author{
    font-size: 14px;
    color: #606060;
    margin-bottom: 4px;
}
.Search-bar{
    display: block;
    margin-bottom: 30px;
}