.cat{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.message{
    vertical-align:middle;
    display: contents;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
}
.tweet{
    margin-left: 150px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 15px;
    border:none;
    background-color: rgb(0, 113, 227);
    color:white;
    border-radius: 25px;
    font-weight: bold;
    transition: opacity 0.1s;
}
.tweet:hover{
    opacity: 0.7;
}
